<!DOCTYPE html>
<html>
<head>
<title>Add Student</title>
<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="form-page">

<div class="form-card">

<h2>Add Student</h2>

<form method="POST">

<input name="name" placeholder="Name">
<input name="email" placeholder="Email">
<input name="course" placeholder="Course">
<input name="attendance" placeholder="Attendance">
<input name="marks" placeholder="Marks">

<button>Save Student</button>

</form>

</div>

</body>
</html>